:root {
    /* color */
    --black: hsl(0, 0%, 7%);
    --dark-blue: hsl(219, 29%, 14%);
    --white: hsl(0, 0%, 100%);
    --grey-100: hsl(214, 17%, 92%);
    --grey-200: hsl(0, 0%, 81%);
    --grey-400: hsl(224, 10%, 45%);
    --grey-500: hsl(217, 19%, 35%);
    --purple-50: hsl(260, 100%, 95%);
    --purple-300: hsl(264, 82%, 70%);
    --purple-500: hsl(263, 55%, 52%);
    /* spacing */
    --spacing-50: 0.25rem;
    /* 4px */
    --spacing-100: 0.5rem;
    /* 8px */
    --spacing-200: 1rem;
    /* 16px */
    --spacing-300: 1.5rem;
    /* 24px */
    --spacing-400: 2rem;
    /* 32px */
    /* font-size */
    --text-preset-1: 1.25rem;
    --text-preset-2: 0.813rem;
    --text-preset-3: 0.813rem;
    --text-preset-4: 0.688rem;
}

@media (max-width: 47.938rem) {
    body {
        padding: var(--spacing-400, 4.5625rem) var(--spacing-200, 2.1875rem);
    }
}

@media (min-width: 48rem) and (max-width: 89.938rem) {
    body {
        padding: var(--spacing-1600, 5.1875rem) 3.8125rem var(--spacing-1600, 7.0625rem) 3.75rem;
    }
}

@media (min-width: 90rem) {
    body {
        padding: var(--spacing-1600, 14.3125rem) 10.0625rem var(--spacing-1600, 13.625rem) 10.3125rem;
    }
}

body {
    background-color: #F6F5F6;;
}

/* text-preset-1 */
h2 {
    font-family: "Barlow Semi Condensed";
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
    /* 1.5rem */
}

/* text-preset-2 */
h4 {
    font-family: "Barlow Semi Condensed";
    font-size: 0.8125rem;
    font-style: normal;
    font-weight: 500;
    line-height: 110%;
    /* 0.89375rem */
}

/* text-preset-4 */
h5 {
    font-family: "Barlow Semi Condensed";
    font-size: 0.6875rem;
    font-style: normal;
    font-weight: 500;
    line-height: 110%;
    /* 0.75625rem */
}

/* text-preset-3 */
p {
    font-family: "Barlow Semi Condensed";
    font-size: 0.8125rem;
    font-style: normal;
    font-weight: 500;
    /* 1.1375rem */
    line-height: 140%;
}