@media (min-width: 1440px) {

    .grid {
        border: 1px solid black;
        width: 550px;
        height: 350px;
        display: grid;
        grid-template-areas: "a a b e"
                             "c d d e";
        grid-template-columns: repeat(4, 25%);

        row-gap: 10px;
        column-gap: 10px;
    }
}

@media (min-width: 376px) and (max-width: 1439px) {
    .grid {
        border: 1px solid black;
        width: 550px;
        height: 350px;
        display: grid;
        grid-template-areas: "a a "
                             "b c"
                             "d d"
                             "e e";

        grid-template-columns: repeat(4, 50%);

        row-gap: 10px;
        column-gap: 10px;
    }
}


.card {
    background-color: dodgerblue;
    padding: 10px;
}

.a {
    grid-area: a;
}

.b {
    grid-area: b;
}

.c {
    grid-area: c;
}

.d {
    grid-area: d;
}

.e {
    grid-area: e;
}